body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #2bcf47;
	background: #EEEFE4;
	background-image:url(../img/bootstrapimgs/background1.png);
	background-repeat:repeat;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 960px;
}


#header
{
height:85px;
width:960px;	
}

#header h1
{
	position:absolute;
text-align:left;
color:#ffffff;
font-size:43px;
color:rgb(38, 211, 145);	
left:14px;
top:18px;
}


#header h2
{
position:absolute;
text-align:right;
color:#28b85f;
left:490px;
top:38px;
width:400px;
}

#mainpic
{
background-image:url(/senproj/img/bootstrapimgs/background1.png);
background-repeat:no-repeat;
width:900px;
height:354px;	
}



.off
{
color:#ffffff;
}


#menu
{
display:block;
float:left;
clear:both;
width:960px;
height:54px;
float:left;
clear:both;
}



#content
{
display:block;
float:center;
width:689px;
height:auto;
padding-left:10px;
padding-top:15px;
padding-right:10px;
padding-bottom:5px;
}


#content_top
{
	background-image:url(/senproj/img/bootstrapimgs/background1.png);
	background-repeat:no-repeat;
	width:689px;
	height:25px;
}

#content_main
{
background-image:url(/senproj/img/bootstrapimgs/main_back.png);
background-repeat:repeat-y;
width:659px;
padding-left:15px;
padding-right:15px;
}

#content_bottom
{
background-image:url(/senproj/img/bootstrapimgs/main_bottom.png);
background-repeat:no-repeat;
width:689px;
height:25px;
}








#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:960px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	height: 36px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 18px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;
	
}

#menu a:hover{
	color:#86AEF9;
	background-image:url(/img/bootstrapimgs/linkbackground.jpg);
	background-repeat:repeat-x;
}


html, body {
text-align: center;
}
p {text-align: left;}

.adonly {
	display: none;
}