* {
    font-family: "Montserrat", sans-serif;
}

h1{
    text-align: center;
}

.allForms {
    margin: auto;
    width: 40%;
    align-items: center;
  }

.StandingForm {
    display: block;
    margin: auto;
    width: 15%;
    align-items: center;
  }

.add {
    margin: 3rem auto;
    margin-bottom: 5%;
}

.delete {
    width: 500px;
    margin: 3rem auto;
    margin-bottom: 5%;
}

.add label{
    display:inline-block;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    width: 150px;
    
}

.add input[type="text"]{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display:inline-block;
    align-items: center;
    text-align: left;
    width: 50%;
}

.add input[type="radio"]{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: inline-block;
    align-items: center;
    
    
}

.delete label{
    display:inline-block;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    width: 150px;
}

.delete input[type="text"]{
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display:inline-block;
    text-align: left;
    width: 50%;
}



.addStudent {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    width: 50%;
    margin-left: 30%;
  }

  .deleteStudent {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    width: 50%;
    margin-left: 30%;
  }
  
  